<p>pipes works!</p>

<h1>{{ name | uppercase }}</h1>

<h2>{{ city | lowercase }}</h2>

<h2>{{ dob }}</h2>
<h2>{{ dob | date }}</h2>
<h2>{{ dob | date:'yyyy-MM-dd' }}</h2>
<h2>{{ dob | date:'dd/MM/yyyy' }}</h2>
<h2>{{ today }}</h2>
<h2>{{ today | date:'full' }}</h2>
<h2>{{ today | date:'fullDate' }}</h2>
<h2>{{ today | date:'short' }}</h2>
<h2>{{ today | date:'medium' }}</h2>
<h2>{{ today | date:'mediumDate' }}</h2>
<h2>{{ today | date:'long' }}</h2>

<h2>{{ user }}</h2>
<h4>{{ user | json }}</h4>


<h3>{{ price | price }}</h3>
<h3>{{ age  | age }}</h3>
<h3>{{ marks | percentage }}</h3>
