.parent{
    height: 100vh;
    width: 100wh;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;


}
.child{
    
    width: 100px;
    height: 100px;
    background-color: aqua;
    padding: 150px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

input{
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    
}
button{
    display: flex;
    height: 30px;
    width: 50px; 
   border-radius: 5px;
   padding-left:3px;
  
}