<h2> Create user form</h2>

<form [formGroup]="userForm">

    <label>Name: </label>
    <input type="text"formControlName="name">
    <div class="error" *ngIf="userForm.get('name')?.touched && userForm.get('name')?.invalid">
       <p *ngIf="userForm.get('name')?.errors?.['required']">This field is required</p>
       <p *ngIf="userForm.get('name')?.errors?.['minlength']">min 3 chars required</p>
       <p *ngIf="userForm.get('name')?.errors?.['maxlength']">max 10 chars required</p>
    </div>
    <br>

    <label>Phone: </label>
    <input type="number"formControlName="phone">
    <div class="error" *ngIf="userForm.get('phone')?.touched && userForm.get('phone')?.invalid">
       <p *ngIf="userForm.get('phone')?.errors?.['required']">This field is required</p>
       <p *ngIf="userForm .get('phone')?.errors?.['min']">min 10 digits required</p>
       <p *ngIf="userForm.get('phone')?.errors?.['max']">max 10 digits required</p>
    </div>
    <br>

    <label>DOB: </label>
    <input type="date"formControlName="dob">
    <br>

    <h3>Address</h3>

    <div formGroupName="address">

        <label>City: </label>
        <input type="text" formControlName="city">
        <br>

        <label>Pin: </label>
        <input type="number" formControlName="pin">
        <div class="error" *ngIf="userForm.get('address')?.get('pin')?.touched && userForm.get('address')?.get('pin')?.invalid">
            <p *ngIf="userForm.get('address')?.get('pin')?.errors?.['required']">Pin is required</p>
            <p *ngIf="userForm.get('address')?.get('pin')?.errors?.['min']">Pin should  contain min 6 digits</p>
            <p *ngIf="userForm.get('address')?.get('pin')?.errors?.['max']">Pin should  contain max 6 digits</p>
        </div>
        <br>
    </div>

    <button class="btn btn-primary" (click)="add()">add card</button>

    <div formArrayName="cards" >
    <div *ngFor="let card of cardsFormArray?.controls;let i= index">
        <div formGroupName="{{i}}">

            <input type="text" formControlName="name" placeholder="name">
            <br>
            <input type="text" formControlName="expiry" placeholder="expiry">
            <br>
            <input type="text" formControlName="Cvv" placeholder="Cvv">
             <div class="error" *ngIf="cardsFormArray.controls[i].get('Cvv')?.touched && cardsFormArray.controls[i].get('Cvv')?.invalid">
                <p *ngIf="cardsFormArray.controls[i].get('Cvv')?.errors?.['required']">Cvv is required</p>
                <p *ngIf="cardsFormArray.controls[i].get('Cvv')?.errors?.['min']">Cvv min 3 digits</p>
                <p *ngIf="cardsFormArray.controls[i].get('Cvv')?.errors?.['max']">Cvv max 3 digits</p>

             </div>
            <button class="btn btn-danger" (click)="delete(i)">delete</button>
            <br><br>

        </div>

    </div>
</div>
<br>

<label>Type: </label>
<input type="radio" name="type" formControlName="type" value="dayscholor">
<label>Day scholor </label>
<input type="radio" name="type" formControlName="type" value="residential">
<label>Residential</label>
<br>

<div *ngIf="userForm.get('type')?.value== 'dayscholor' " >

    <label>bus fee </label>
<input type="number" formControlName="busFee">
<br>

</div>

<div *ngIf="userForm.get('type')?.value=='residential'" >
    <label>hostel fee </label>
<input type="number" formControlName="hostelFee">
<br>

</div>

<button class="btn btn-primary" (click)="submit()">Submit</button>

</form>