<html>
   <head>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">    
      
   </head>
   <body>
      <nav>

      <a href="" >Gmail</a>
      <a href="" class="text">Image</a>
      <i class="bi bi-grid-3x3-gap-fill"></i>
      <button>Sign in</button>
  
   </nav>
   
     <div class="main">
         <img src="https://www.google.co.in/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" alt="" class="google" >
         <div class="search">
            <i class="bi bi-search"></i>
           <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/1200px-Google_mic.svg.png" alt="" class="mic">
           <input type="text" nmae="" placeholder="search">
           
         </div>
         </div>

         <div class="buttons">
        <button> Google Search </button>
        <button>I'm Felling Lucky </button>
         </div>  

         <footer>
          <div class="footer-location">
            India
          </div>
          <div class="footer-menu">
            <div class="left-menu">
               <a href="">About</a>
               <a href="">Advertising</a>
               <a href="">Business</a>
               <a href="">How Search Work</a>

            </div>
            <div class="right-menu">
               <a href="">About</a>
               <a href="">About</a>
               <a href="">About</a>
            </div>   
            </div>  
 
   </footer>
    
   </body>
</html>
