<div class="parent"> 
<div class="left">
<h6 routerLink="interpolation">Interpolation</h6>
<h6 routerLink="event-binding">Event-binding</h6>
<h6 routerLink="two-waybinding">Two-waybinding </h6>
<h6 routerLink="calculator"> Calculator</h6>
<h6 routerLink="rectangle">Rectangle</h6>
<h6 routerLink="square">Square</h6>
<h6 routerLink="power">Power</h6>
<h6 routerLink="eventregistration">Eventregistration</h6>
<h6 routerLink="employee-registration">Employee-registration</h6>
<h6 routerLink="cart">cart</h6>
<h6 routerLink="amazon">Amazon</h6>
<h6 routerLink="google">Google</h6>
<h6 routerLink="pipes">Pipes</h6>
<h6 routerLink="cars">Cars</h6>
<h6 routerLink="star">Star</h6>
<h6 routerLink="gpay">Gpay</h6>
<h6 routerLink="bank">Bank</h6>
<h6 routerLink="vehicle">Vehicle</h6>
<h6 routerLink="typicode">Typicode</h6>
<h6 routerLink="flipkart">Flipkart</h6>
<h6 routerLink="mail">Mail</h6>
<h6 routerLink="create-account">Create-Account</h6>
<button (click)="logout()" >logout</button> 

</div>


<div class="right">
    <router-outlet></router-outlet>
</div>
</div>
